/*
	Theme Name: project
	Author: fady
	Description: This is an project theme
	Version: 0.1 alpha
	Tags: black, white, responsive, one-column, two-columns, featured-images, custom-menu, custom-header, post-formats
*/

 
/* Carousel Header Styles */
.header-text {
    position: absolute;
    top:30%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #e2e2e2;
    font-size:20px; letter-spacing:1px;
}
.header-text h2 {font-size: 50px; color:#fff; font-weight:600;}
.header-text h2 span {padding: 10px;color:orange;}
.header-text h3 span {padding: 15px;}
.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
	margin-right: 5px;
}
.carousel-indicators .active {background-color: #ff5900;}
.carousel-control {color: #e2e2e2;}
.carousel-control {width: 90;}
.text{
	font-size:20px;
	color:#8e9499;
	padding:23px;
}
#protofolio  h1 {
	font-weight: bold;
}
.full-width-image{

    height: 300px;
    background: url("assets/images/04.jpg") no-repeat center center fixed;
    background-size: cover;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-scection{
    position: relative;
    text-align: center;
}
#image{
	margin-bottom: 20px;
	margin-top:50px;
}
.section-text p{
	font-size:25px;
	padding: 40px;
	font-weight: bold; 
}


.border {
	border-bottom: 1px solid #ccc;
}
.description ,.title{
	    text-decoration: underline;
	    font-size: 29px;
}
.title{
	    padding: 28px;

}
.bottom-mobile{
		margin-top: 40px;
}
@media (max-width:768px) {
	.header-text h2 {font-size: 20px; color:#fff; font-weight:600;}
	.main_title p{font-size:15px;}
	.small .site-btn{font-size:12px;}
	.section-text p{
		font-size:20px;
		padding: 25px;
		font-weight: bold; 
	}

}
@media (max-width:360px){
	.header-text {
		position: absolute;
		top: 0%;
		left: 1.8%;
		right: auto;
		width: 96.66666666666666%;
		color: #e2e2e2;
		font-size:20px; letter-spacing:1px;
	}
	.section-text p{
		font-size:15px;

	}
	#image{
		margin-bottom: 50px;
		margin-top:50px;
	}

}
